.collapsable-sidebar {
  background-color: #fff;
  width: 200px;
  height: 100vh;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  left: -200px;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}
.collapsable-sidebar.open {
  left: 0;
  transition-delay: 0.1s !important;
  transition-timing-function: ease-in-out;
}
@media (min-width: 1025px) {
  .collapsable-sidebar {
    left: 0;
  }
}
.collapsable-sidebar,
.collapsable-sidebar-hamburguer {
  transition: left 0.5s cubic-bezier(0, 0.08, 0, 1.01);
  position: fixed;
}
.collapsable-sidebar-hamburguer {
  content: '';
  height: 4px;
  border-radius: 10px;
  width: 36px;
  position: absolute;
  background-color: #808080;
  box-shadow: 0 0 0px 1px #fff;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  position: fixed;
  top: 24px;
  left: 24px;
  opacity: 1;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
}
.collapsable-sidebar-hamburguer:before,
.collapsable-sidebar-hamburguer:after {
  content: '';
  height: 4px;
  border-radius: 10px;
  width: 36px;
  position: absolute;
  background-color: #808080;
  box-shadow: 0 0 0px 1px #fff;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, width, height, background-color;
  transition-duration: 0.2s;
}
.collapsable-sidebar-hamburguer.open {
  transition-delay: 0s !important;
  transition-timing-function: ease-in-out;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0;
  box-shadow: inset 0 0 500px 100px rgba(0,0,0,0.2);
  animation-name: appearence;
}
.collapsable-sidebar-hamburguer.open:before,
.collapsable-sidebar-hamburguer.open:after {
  transition-delay: 0s !important;
  transition-timing-function: ease-in-out;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0,0,0,0.2);
}
.collapsable-sidebar-hamburguer:before {
  top: 12px;
}
.collapsable-sidebar-hamburguer:after {
  top: 24px;
}
@media (min-width: 1025px) {
  .collapsable-sidebar-hamburguer {
    display: none;
  }
}
@-moz-keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
